PackageIdentifier: PodSteer.PodSteer
PackageVersion: "@VERSION@"
PackageLocale: en-US
Publisher: PodSteer
PublisherUrl: https://podsteer.com
PublisherSupportUrl: https://github.com/podsteer/podsteer/issues
PackageName: PodSteer
PackageUrl: https://podsteer.com
License: Apache-2.0
LicenseUrl: https://github.com/podsteer/podsteer/blob/main/LICENSE
ShortDescription: A fast, native Kubernetes client.
Tags:
  - kubernetes
  - k8s
  - kubectl
ManifestType: defaultLocale
ManifestVersion: 1.9.0
